{
	"cluster-id":       "your-cluster-id",
	"default-domain":   ".your.default.domain.com",
	"signature-method": "sha256",
	"storage-root":     "/path/to/storage/mount",
	"console-api-url":  "http://console.default.domain.com/api/v1/ops/",
	"console-api-key":  "generate-a-strong-key",
	"client-id":        "provided by console for dashboard",
	"client-secret":    "provided by console for dashboard"
}
