vendor/
node_modules/
/.env
/.dfe.cluster.json
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/.idea/workspace.xml
/.idea/tasks.xml
/build
/tests/storage/
/_ide_*.php
/original
composer.lock
/database/dfe/*
!/database/dfe/dfe_local.schema.sql
