/app/move-instance-one.sh
vendor/
!.env-dist
composer.json
composer.lock
.env*
.DS_Store
.idea/
/build
/tests/storage/
/_ide_*.php
/database/dfe/*
bootstrap/cache/*
/storage/*
config/metrics.php
config/packages.php
/tests/Http/Controllers/20*.json
/workbench/*
