vendor/
node_modules/
/.env
/.env.local
/.dfe.cluster.json
/.idea/workspace.xml
/.idea/tasks.xml
/build
/tests/storage/
/_ide_*.php
/original
composer.lock
composer.phar
/database/dfe/*
!/database/dfe/dfe_local.schema.sql
