<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Welcome to DreamFactory!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="DreamFactory Software, Inc.">
	<meta name="language" content="en" />
	<link rel="shortcut icon" href="https://www.dreamfactory.com/favicon.ico" />
	<link rel="important stylesheet" href="chrome://messagebody/skin/messageBody.css">
</head>
<body style="background-color: #efefef; margin: 0;padding: 0;">
<!-- main container -->
<table border="0" style="background-color: #dfdfdf; width: 100%; margin: 0;padding: 0; border-collapse: collapse;">
	<tr>
		<td style="text-align: center; vertical-align: top;">
			<!-- inner table -->
			<table border="0" style="width: 600px; margin: 0;padding: 0;">
				<!-- header -->
				<tr>
					<td colspan="3" align="left" valign="top" width="600" style="width: 600px; overflow: hidden;">
						<div style="margin: 17px 7px 14px 2px;">
							<table width="592"
								border="0"
								cellpadding="0"
								cellspacing="0"
								style="width: 592px; margin: 0;padding: 0;">
								<td width="388" align="left" valign="bottom" style="width: 388px; overflow: hidden;">
									&nbsp;
								</td>
								<td width="204" align="right" valign="top" style="width: 204px; overflow: hidden;">
									<a href="https://dreamfactorysoftare.github.io/" title="{dreamfactory.developers}"
										style="outline: none;"><img src="https://www.dreamfactory.com/sites/all/themes/dreamfactory/images/logo-email-212x43.png"
										width="212" height="43" border="0"
										alt="{dreamfactory.developers}" style="display: block;" /></a>
								</td>
							</table>
						</div>
					</td>
				</tr>
				<!-- content -->
				<tr>
					<td colspan="3"
						width="598"
						align="left"
						valign="top"
						style="width: 598px; overflow: hidden; border-style: solid; border-width: 1px; border-color: #d6d6d6;">
						<div style="margin-right: 28px; margin-bottom: 40px; margin-left: 30px;">
							<!-- main content -->
							<table width="540"
								border="0"
								cellpadding="0"
								cellspacing="0"
								style="width: 540px; margin: 0;padding: 0;">
								<!-- spacer -->
								<tr>
									<td colspan="2" align="left" valign="top" height="59" style="overflow: hidden; height: 40px;">
										&nbsp;
									</td>
								</tr>
								<!-- body -->
								<tr>
									<td colspan="2" align="left" valign="top" style="overflow: hidden;">
										<p style="color: #333333; font-size: 15px; font-family: arial, sans-serif; margin: 0 0 21px;">
											Hey %%PRIVATE_FIRST_NAME_TEXT%%, </p>

										<p style="color: #333333; font-size: 15px; font-family: arial, sans-serif; margin: 0 0 21px;">
											Welcome to DreamFactory Developer Central, where you have access to the power of DreamFactory's Cloud Developer Platform. </p>

										<p style="color: #333333; font-size: 15px; font-family: arial, sans-serif; margin: 0 0 21px;">
											We're excited to have you join our growing developer community and want to help you succeed, in any way we can. </p>
										<ul style="color: #333333; font-size: 15px; font-family: arial, sans-serif; margin: 0;padding-left: 1.5em;">
											<li style="margin-bottom: 15px;"><strong>Cooler:</strong> It's cool.</li>
											<li style="margin-bottom: 15px;"><strong>Awesomer:</strong> It's awesome.</li>
											<li style="margin-bottom: 15px;"><strong>Even Cooler:</strong> Even cooler than cool.</li>
											<li style="margin-bottom: 15px;"><strong>Most Awesomest:</strong> Awesomely cooler than awesome.</li>
										</ul>
										<p style="color: #333333; font-size: 15px; font-family: arial, sans-serif; margin: 0 0 9px;">
											Before you can start exploring the world of cloud development you need to confirm your email address. To do so, click the link below and you'll be all set.</p>

										<p style="text-align: center; color: #333333; font-size: 11px; font-family: arial, sans-serif; margin: 0 0 21px;">
											<a href="http://developer.dreamfactory.com/app/confirmation/%%PRIVATE_VALID_EMAIL_HASH_TEXT%%/"
												title="Click to confirm your email address">http://developer.dreamfactory.com/app/confirmation/%%PRIVATE_VALID_EMAIL_HASH_TEXT%%/</a>
										</p>

										<p style="color: #333333; font-size: 15px; font-family: arial, sans-serif; margin: 0 0 21px;">
											If you've got any questions, feel free to drop us a line at
											<a href="mailto:%%SUPPORT_EMAIL_ADDRESS%%">%%SUPPORT_EMAIL_ADDRESS%%</a>
										</p>

										<p style="color: #333333; font-size: 15px; font-family: arial, sans-serif; margin: 0 0 21px;">
											Later,<br /> The Dream Team </p>
									</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
				<!-- spacer -->
				<tr>
					<td colspan="2" align="left" valign="top" height="17" style="height: 17px; overflow: hidden;">
						&nbsp;
					</td>
				</tr>
				<!-- footer navigation -->
				<tr>
					<td colspan="2" align="left" valign="top" width="600" style="width: 600px; overflow: hidden;">
						&nbsp;
					</td>
					<td align="right" valign="top" width="600" style="width: 600px; overflow: hidden;">
						<div style="margin-bottom: 17px;">
							<p style="color: #6a6a6a; font-size: 10px; font-family: arial, sans-serif; margin: 0;">
								&copy; 2012 DreamFactory Software, Inc.
							</p>
						</div>
					</td>
				</tr>
			</table>
			<!-- end: inner table -->
		</td>
	</tr>
	<!-- bottom spacing -->
	<tr>
		<td align="left" valign="top" height="25" style="height: 25px; overflow: hidden;">
			&nbsp;
		</td>
	</tr>
	<!-- end: bottom spacing -->
</table>
<!-- end: main container -->
</body>
</html>
