################################################################################
##
## /etc/mysql/my.cnf for DreamFactory Enterprise(tm) Console
##
################################################################################

[client]
port                            = 3306
socket                          = /var/run/mysqld/mysqld.sock

## This was formally known as [safe_mysqld].
## Both versions are currently parsed.
[mysqld_safe]
socket                          = /var/run/mysqld/mysqld.sock
nice                            = 0

##
## Main MySQL configuration
##
[mysqld]
## Storage Locations
datadir                         = ${storage_path}/mysql
log-error                       = ${storage_path}/logs/mysql/error.log
slow-query-log-file             = ${storage_path}/logs/mysql/slow.log
log-bin                         = ${storage_path}/mysql-binlog/${vendor_id}-bin

## Networking
bind-address                    = 0.0.0.0

## Replication
server-id                       = 1

### Shouldn't need to change anything below here ###

## General
user                            = mysql
default-storage-engine          = InnoDB
socket                          = /var/run/mysqld/mysqld.sock
pid-file                        = /var/run/mysqld/mysqld.pid
explicit-defaults-for-timestamp = 0

## Logging
log-queries-not-using-indexes   = 1
slow-query-log                  = 1

## Binlogging
expire-logs-days                = 3
sync-binlog                     = 1

## Character sets
character-set-server            = utf8
collation-server                = utf8_general_ci

## MyISAM (Unused, so very low)
key-buffer-size                 = 1M

## Network Security
max-allowed-packet              = 16M
max-connect-errors              = 1000000
sysdate-is-now                  = 1

## Caching/Limits
tmp-table-size                  = 32M
max-heap-table-size             = 32M
query-cache-type                = 0
query-cache-size                = 0
max-connections                 = 500
thread-cache-size               = 50
open-files-limit                = 65535
table-definition-cache          = 1024
table-open-cache                = 2048

## InnoDB-specific
innodb-flush-method             = O_DIRECT
innodb-log-files-in-group       = 3
innodb-log-file-size            = 128M
innodb-flush-log-at-trx-commit  = 1
innodb-file-per-table           = 1
innodb-buffer-pool-size         = 4G
